@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}
