@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

.Team {
  background-image: url("./assets/img/blobs-team.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
